{% for option in product.options %}

  {% assign option_handle = option | handle %}
  {% assign option_index = forloop.index0 %}

  {% assign is_color = false %}
  {% capture downcased_option %}{{ option | downcase }}{% endcapture %}
  {% if downcased_option contains 'color' or downcased_option contains 'colour' %}


  <div class="col-swatch">
    <ul data-option-index="{{ option_index }}" class="{{ option_handle }} options">
    {% assign values = '' %}
    {% for variant in product.variants %}
      {% assign value = variant.options[option_index] %}
      {% capture wrapped_value %},{{ value }},{% endcapture %}
      {% unless values contains wrapped_value %}
      <li data-option-title="{{ value | escape }}" {% if variant.featured_media %}data-href="{{ variant.featured_media | img_url: 'large' }}" {% endif %}class="js-collection-swatch color {{ value | handle }} {% if forloop.first %}js-is-active{% endif %}">

        <a href="{{ variant.url | within: collection }}">
          <span style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.png' | file_url }})"></span>
        </a>
      </li>
      {% capture values %}{{ values }}{{ wrapped_value }}{% endcapture %}
      {% endunless %}
    {% endfor %}
    </ul>
  </div><!-- .swatch -->

  {% endif %}

{% endfor %}
